@use 'colors';

body {
    font-family: Lobster, sans-serif;
    font-size: 1.6rem;
    color: colors.$primary;
    background-color: colors.$secondary;
}

h1,
h2,
h3 {
    width: fit-content;
    margin: 0 auto;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
    margin-bottom: 1em;
}
