%block {
    display: block;
}

%border-box {
    box-sizing: border-box;
}

%width-100 {
    width: 100%;
}

%margin-padding {
    margin: 0;
    padding: 0;
}

%border-none {
    border: none;
}

%pointer {
    cursor: pointer;
}

%transparent {
    background-color: transparent;
}

%font-inherit {
    font: inherit;
    color: inherit;
}

%user-select {
    user-select: none;
}
